{% extends "base.html" %}
{% block start %}
<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}  
      <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label  class="form-label">Receipe Name </label>
          <input type="text" class="form-control" name="receipe_name" required>
        </div>
        <div class="mb-3">
          <label name="receipe_description" class="form-label">Receipe Description</label>
          <textarea  class="form-control" name="receipe_description" required></textarea>
        </div>
        <div class="mb-3">
            <label  class="form-label">Receipe Image</label>
            <input type="file" class="form-control" name="receipe_image">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add Receipe</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SrNo</th>
          <th scope="col">receipe_image</th>
          <th scope="col">receipe_description</th>
          <th scope="col">receipe_image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for receipe in receipes %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{receipe.receipe_name}}</td>
          <td>{{receipe.receipe_description}}</td>
          <td><img src="/media/{{receipe.receipe_image}}" style="height: 100px" /></td>
          <td>
            <a href="/delete-receipe/{{receipe.id}}" class="btn btn-danger m-2">Delete</a>
            <a href="/update-receipe/{{receipe.id}}" class="btn btn-success">Update</a>
       
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %}